<h1>Do not put your hand on a hot plate</h1>
<button (click)="toggleStudents()">Toggle</button>
<button (click)="addStudent()">Add Student</button>

<div *ngFor="let st of students trackBy trackByStudent; let i = index; let f = first; let l = last; let e = even, let o = odd">
  <app-student-presenter [student]="st" [class.even]="e" [class.first]="f" [class.last]="l">
  
  </app-student-presenter>  
</div>




<button *ngIf="showButton">Hey, I am a button</button>

<ng-template [ngIf]="showButton">
  <button>Hey, I am a button</button>
</ng-template>

<button *myIf="showButton">Hey, I am a button</button>

<ng-template [myIf]="showButton">
  <button>Hey, I am a button</button>
</ng-template>

<input type="number" [value]="count" (input)="count = num1.valueAsNumber" #num1>
<input type="number" [value]="starter" (input)="starter = num2.valueAsNumber" #num2>
<input type="number" [value]="step" (input)="step = num3.valueAsNumber" #num3>

<div *myRepeat="count startWith starter let index  skip step let rishon = first">
  <app-blank [index]="index" [color]="rishon ? 'yellow' : 'green'"></app-blank>
</div>



