<h1>Welcome, Today we talk about: </h1>
<h2 highlight>Angular Directives</h2>
<h3>Agenda</h3>

<ul>
    <li class="x">What are Directives</li>
    <li highlight>Creating a directive</li>
    <li class="x y">Using the <strong>ElementRef</strong></li>
    <li>Using the Renderer</li>
    <li>HostBinding and HostListener</li>
    <li class="x z">Inputs</li>
    <li highlight>Outputs</li>
    <li>Shortcut syntax</li>
    <li>Selectors</li>
    <li>Export as and references in angular</li>
</ul>

<input type="text">
<input type="number">
<input type="checkbox">
<input type="search">