:host {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px 1fr;
    border: 1px solid gray;
    background-color: lightcyan;
}

.area {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-area {
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(141, 210, 210);
    flex-direction: row;
    justify-content: start;

}

.button-area {
    grid-column: 1;
    background-color: rgb(141, 210, 210);
    grid-row: 1;
}

.content-area {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-content: start;
}
