h1 {
    color: blue;
    font-size: 16px;
}

h1.black {
    color: black;
}

.the-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.the-header img {
    max-height: 20px;
    max-width: 20px;
    margin: 0px 10px;
}

.button-1 {
    background-color: blue;
    color: white;
    border: 1px solid yellow;
}

.button-2 {
    background-color: lime;
    color: darkgreen;
    border: 1px solid green;
}


.fancy {
    --expander-header-background: rgb(194, 240, 194);
    --expander-content-background: lightgreen;
}